<div class="container-fluid text-center">
      <h1>About</h1>
      <p> Nasze drużyny piłkarskie wygrywają mistrzostwa Polski już od następnego roku Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eveniet laboriosam voluptate minus dignissimos esse voluptatem inventore soluta, amet libero beatae aut, necessitatibus ipsam neque unde omnis nobis ratione quae.</p>
</div>