<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p><p style="color:red;"></p>Legionista</p> wysyła pozdrowienia:
        <%= "#{name}, #{email} ." %></p>
        <i><p><%= body %></p></i>
        
    </body>
</html>